.App {
  display:flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

html body{
  margin: 0;
padding-top: 0;}

.inputs{
  height: 400px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
}

.inputs input{
  width:200px;
  height:50px;
  margin: 10px;
  font-size: 18px;
  padding-left: 10px;
}

.inputs button{
 border:none;
 width:150px;
 height: 50px;
 background-color: brown;
 color: aliceblue;
 border-radius: 10px;
}

button:hover{
  cursor: pointer;
}

.friend{
  width: 500px;;
  height:60px;
  background-color: rgb(137, 115, 246);
  color: white;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  margin: 10px;
}

.friend h3{
  margin-left: 15px;
}

.listOfFriends{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

}

.FriendContainer{
  display: flex;
  flex-direction: row;
  margin: 10px;

}


.FriendContainer button{
width: 60px;
height: 60px;
font-family: 'Courier New', Courier, monospace;
background-color: blue;
border:none;
margin: 0;
color: white;
}